        <section class="search">
            <input type="text" id="search" class="search--input" placeholder="¿Qué estás buscando?">
        </section>
        
        <section class="connect">
            <h2 class="connect__title">Conecta con amigos</h2>
            
            <% @pets.each do |pet| %>
            <div class="connect__friends">
                <div class="connect__friends--item">
                    <figure class="item__img">
                        <% if pet.image.present? %>
                         <%= image_tag pet.image.url %>
                        <% end %>
                    </figure>
                    <div class="item__data">
                        <h3 class="item__data--name"><%= pet.name %></h3>
                        <img src="" alt=""><p class="item__data--location"><%= pet.ciudad %></p>
                    </div>
                </div>
            <div>
            <% end %>
        </section>
        
        <section class="services">
            <h2 class="services__title">Servicios</h2>
            <button class="services__button">Veterinarios</button>
            <button class="services__button">Peluquerías</button>
            <button class="services__button">Paseadores</button>
            <button class="services__button">Tiendas de alimento</button>
        </section>
        <section class="advertisingBoard">
            <h2 class="advertisingBoard__title">Te puede interesar</h2>
            <div class="advertisingBorad__item">
                <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                <div class="advertisingBoard__item--details">
                    <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                    <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="advertisingBorad__item">
                    <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                    <div class="advertisingBoard__item--details">
                        <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                        <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
            </div>
            <div class="advertisingBorad__item">
                    <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                    <div class="advertisingBoard__item--details">
                        <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                        <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
            </div>
        </section>
        <section class="events">
            <h2 class="events__title">Eventos</h2>
            <div class="events__container">
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
            </div>
            
                

        </section>
<<<<<<< HEAD
        </div>
=======
        </div>
>>>>>>> 2cba7d48da04720342cf2621dcfb4748d7ecd685
