<div class="container">
        <section class="search">
            <input type="text" id="search" class="search--input" placeholder="¿Qué estás buscando?">
        </section>
        <section class="connect">
            <h2 class="connect__title">Conecta con amigos</h2>
            <div class="connect__friends">
                <div class="connect__friends--item">
                    <figure class="item__img">
                        <img src="" alt="">
                    </figure>
                    <div class="item__data">
                        <h3 class="item__data--name">Elmo</h3>
                        <img src="" alt=""><p class="item__data--location">Bogotá</p>
                    </div>
                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>
                <div class="connect__friends--item">

                </div>

            </div>
        </section>
        <section class="services">
        </section>
        <section class="advertisingBoard">
        </section>
        <section class="events">
        </section>
        </div>
</div>
