        <!--
        <section class="search">
            <input type="text" id="search" class="search--input" placeholder="¿Qué estás buscando?">
        </section>
        
        <section class="connect">
            <h2 class="connect__title">Conecta con amigos</h2>
            
            <% @pets.each do |pet| %>
            <div class="connect__friends">
                <div class="connect__friends--item">
                    <figure class="item__img">
                        <% if pet.image.present? %>
                         <%= image_tag pet.image.url %>
                        <% end %>
                    </figure>
                    <div class="item__data">
                        <h3 class="item__data--name"><%= pet.name %></h3>
                        <img src="" alt=""><p class="item__data--location"><%= pet.ciudad %></p>
                    </div>
                </div>
            <div>
            <% end %>
        </section>
        -->
        
        <header class="header">
        <img src="https://img.icons8.com/dusk/64/000000/pets.png" alt="">
        <h1>PETTRIX</h1>
        <div style="text-align: right; font-size: 14px">
                <a href="http://localhost:3000/pets"><span style="padding-left: 30px">REGISTRAR MASCOTA</span></a>
                <a href=""><span style="padding-left: 30px">SERVICIOS</span></a>
                <a href=""><span style="padding-left: 30px">ACTIVIDADES</span></a>
                <a href=""><span style="padding-left: 30px">GRUPOS</span></a>
            </div>
    </header>
    <div class="container">
        <section class="search">
            <input type="text" id="search" class="search--input" placeholder="¿Qué estás buscando?">
        </section>


        <section class="connect">
            <h2 class="connect__title">Conecta con amigos</h2>


            <div class="connect__friends">
                <div class="connect__friends--item">
                    <figure class="item__img">
                        <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                    </figure>
                    <div class="item__data">
                        <h3 class="item__data--name">Elmo</h3>
                        <div class="item__data--details">
                            <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                            <p class="item__data--details__location">Bogotá</p>
                        </div>
                    </div>
                </div>

                
                <div class="connect__friends--item">
                        <figure class="item__img">
                            <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                        </figure>
                        <div class="item__data">
                            <h3 class="item__data--name">Elmo</h3>
                            <div class="item__data--details">
                                <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                                <p class="item__data--details__location">Bogotá</p>
                            </div>
                        </div>
                </div>
                <div class="connect__friends--item">
                        <figure class="item__img">
                            <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                        </figure>
                        <div class="item__data">
                            <h3 class="item__data--name">Elmo</h3>
                            <div class="item__data--details">
                                <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                                <p class="item__data--details__location">Bogotá</p>
                            </div>
                        </div>
                </div>
                <div class="connect__friends--item">
                        <figure class="item__img">
                            <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                        </figure>
                        <div class="item__data">
                            <h3 class="item__data--name">Elmo</h3>
                            <div class="item__data--details">
                                <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                                <p class="item__data--details__location">Bogotá</p>
                            </div>
                        </div>
                </div>
                <div class="connect__friends--item">
                        <figure class="item__img">
                            <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                        </figure>
                        <div class="item__data">
                            <h3 class="item__data--name">Elmo</h3>
                            <div class="item__data--details">
                                <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                                <p class="item__data--details__location">Bogotá</p>
                            </div>
                        </div>
                </div>
                <div class="connect__friends--item">
                        <figure class="item__img">
                            <img src="https://cdn.pixabay.com/photo/2015/11/17/13/13/bulldog-1047518_960_720.jpg" alt="">
                        </figure>
                        <div class="item__data">
                            <h3 class="item__data--name">Elmo</h3>
                            <div class="item__data--details">
                                <img src="https://img.icons8.com/office/16/000000/place-marker.png" alt="Ubicación">
                                <p class="item__data--details__location">Bogotá</p>
                            </div>
                        </div>
                </div>                
            </div>
        </section>
        <section class="services">
            <h2 class="services__title">Servicios</h2>
            <button class="services__button">Veterinarios</button>
            <button class="services__button">Peluquerías</button>
            <button class="services__button">Paseadores</button>
            <button class="services__button">Tiendas de alimento</button>
        </section>
        <section class="advertisingBoard">
            <h2 class="advertisingBoard__title">Te puede interesar</h2>
            <div class="advertisingBorad__item">
                <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                <div class="advertisingBoard__item--details">
                    <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                    <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="advertisingBorad__item">
                    <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                    <div class="advertisingBoard__item--details">
                        <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                        <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
            </div>
            <div class="advertisingBorad__item">
                    <img class="advertisingBoard__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                    <div class="advertisingBoard__item--details">
                        <h3 class="advertisingBoard__item--details__title">Perdido - Chapinero</h3>
                        <p class="advertisingBoard__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
            </div>
        </section>
        <section class="events">
            <h2 class="events__title">Eventos</h2>
            <div class="events__container">
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
                    <div class="events__item">
                            <img class="events__item--img"src="https://cdn.pixabay.com/photo/2014/11/30/14/11/kitty-551554_960_720.jpg" alt="">
                            <div class="events__item--details">
                                <h3 class="events__item--details__title">Perdido - Chapinero</h3>
                                <p class="events__item--details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                    </div>
            </div>
        </section>
    </div>
    <footer class="footer">
            <img src="https://img.icons8.com/dusk/64/000000/pets.png" alt="">
            <h1>PETTRIX</h1>
            <div style="text-align: right; font-size: 16px">
                <span>CONTACTO</span><br>
                <span>TERMINOS Y CONDICIONES</span><br>
                <span></span>
            </div>
    </footer>